*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--header-color);
}

:root{
    --background-color:black;
    --header-color: bisque;
}

#bartender {
    z-index: auto;
    position: relative;
}

.bottle {
    display: flex;
    align-items: row;

}

#contactInfo {
    color: var(--header-color)!important;
}

#aboutUs {
    color: var(--header-color)!important;
}

#drinkRecipe {
    color: var(--header-color)!important;
}

#navBarText {
    color: var(--header-color)!important;
}

.row {
    display: flex;
    padding: 5px;
}

.bottleImage{
    max-height: 180px;
    max-width: auto;
}

#randomContainer {
    background-color: white;
    color: black;
    display: flex;
    max-width: 200px;
    height: 200px;
    font-size: 20px;
    border-radius: 25%;
    float: left;
}