*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--header-color);
}

:root{
    --background-color:black;
    --header-color: bisque;
}

#bartender {
    z-index: auto;
    position: relative;
}

.bottle {
    display: flex;
    align-items: row;

}

#contactInfo {
    color: var(--header-color)!important;
}

#aboutUs {
    color: var(--header-color)!important;
}

#drinkRecipe {
    color: var(--header-color)!important;
}

#navBarText {
    color: var(--header-color)!important;
}

.bottleImage {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    max-width: auto;
}